*{
    max-width: 1280px;
    margin: 0px auto;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Quattrocento Sans', sans-serif, 'Droid Sans', sans-serif;
}

#background_picture {
    width: 100%;
    height: 650px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    line-height: 50px;
}

a:hover {
    color: #CDD1D1;
}

#first {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%,-60%);
    padding: 0 10px;
    color: #fff;
    font-size: 35px;
    word-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

article {
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#img {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    overflow: auto;
}

#main_text {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    background-color: #fff;
    word-spacing: 20px;
    justify-content: center;
    left: 50%;
}
    
#main_text h1 {
    font-size: 150%;
    font-weight: bold;
}

#main_text p {
    font-size: 100%;
}

footer {
    display: inline-block;
    clear: both;
    background-color: #000000;
    margin-bottom: 0px;
    width: 100%;
}

footer p {
    color: #fff;
    text-align: center;
    margin: 0px;
    font-size: 100%;
    padding: 2px; 
    justify-content: center;
}
