*{
    max-width: 1280px;
    margin: 0px auto;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Quattrocento Sans', sans-serif, 'Droid Sans', sans-serif;
}

#background_picture{
    width: 100%;
    height: auto;
    
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    line-height: 50px;
}

.sect {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subSection {
    height: 50%;
    background-color: bisque;
    padding: 40px;
}

.sectOne {
    background-image: url(main.jpg);
    padding: 40px;
    margin: 40px;
}

.sectTwo {
    background-image: url(road.jpg);
    padding: 40px;
    margin: 40px;
    
}

.sectThree {
    background-image: url(forest.jpg); 
    padding: 40px;
    margin: 40px;
}

#first {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%,-60%);
    padding: 0 10px;
    color: #fff;
    font-size: 35px;
    word-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}


/*
#nav {
    width: 100%;
    height: 200px;
    background: url(main.jpg);
    background-size: cover;
}

#nav_wrapper {
    height: 100px;
    width: 700px;
    background: #377d7a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    opacity: 0.7;
    filter: alpha(opacity=70); /* IE8 earlier 
}

#nav_wrapper ul li {
    list-style: none;
    display: inline;
    font-weight: bold;
    padding: 20px;
}

#nav_wrapper a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#nav_wrapper ul li:hover {
    background-color:  #e1e8e3;
    transition: all 0.45s;
    opacity: 0.9;
    filter: alpha(opacity=90); /* IE8 earlier
}
*/