*{
    max-width: 1280px;
    margin: 0px auto;
    font-family: 'Quattrocento Sans', sans-serif, 'Droid Sans', sans-serif;
}

#background_picture{
    width: 100%;
    height: auto;
    
}

#first {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%,-60%);
    padding: 0 10px;
    color: #fff;
    font-size: 35px;
    word-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

#nav {
    width: 100%;
    height: 200px;
    background: url(background.jpg);
    background-size: cover;
}

#nav_wrapper {
    height: 100px;
    width: 700px;
    background: #377d7a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    opacity: 0.7;
    filter: alpha(opacity=70); /* IE8 earlier */
}

#nav_wrapper ul li {
    list-style: none;
    display: inline;
    font-weight: bold;
    padding: 10px;
}

#nav_wrapper a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#nav_wrapper ul li:hover {
    background-color:  #e1e8e3;
    transition: all 0.45s;
    opacity: 0.5;
    filter: alpha(opacity=70); /* IE8 earlier */
}
