*{
    max-width: 1280px;
    margin: 0px auto;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Quattrocento Sans', sans-serif, 'Droid Sans', sans-serif;
}

#background_picture {
    width: 100%;
    height: 650px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    line-height: 50px;
}

a:hover {
    color: #CDD1D1;
}

#first {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%,-60%);
    padding: 0 10px;
    color: #fff;
    font-size: 35px;
    word-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

#main_text {
    display: block;
    text-align: center;
    width: 60%;
    justify-content: center;
    margin-left: 20%;
    padding: 30px;
}
    
#main_text h1 {
    font-size: 200%;
    font-weight: bold;
    margin-top: 46px;
}

#main_text p {
    font-size: 130%;
}

section {
    justify-content: center;
    margin-left: 27%;
    margin-bottom: 5%;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #000000;
}

#foot {
    width: 1000px;
    margin: 0 auto;
}

div.social {
    float: left;
    margin-top: 20px;
}

footer p {
    color: #fff;
    text-align: center;
    align-content: flex-end;
    margin: 0px;
    font-size: 100%;
    padding: 2px; 
}

