style {
    font-family: 'Source Sans Pro', sans-serif;
}

.image {
    position: relative;
    max-width: 100%;
    height: auto;
}

nav {
    position: fixed;
    width: 300px;
}

.fbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

li { 
    display: inline; 
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #EBEBEB;
    text-align: center;
    font-size: 100px;
}