body {
	max-width: 1280px;
	margin: 0px auto;
}

style {
    font-family: 'Source Sans Pro', sans-serif;
}

.image {
    position: relative;
    max-width: 1500px;
    min-width: 500px;
    height: 750px;
}

/*.container {
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}*/

nav {
    position: fixed;
    top: 0;
    background-color: white;
    color: #080808;
    display: inline-block;
    width: 100%;
    z-index: 1;
}

ul {
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

li { 
    display: inline-block;
    background-color: white;
    font-size: medium;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    color: #CDD1D1;
}

li a:active {
    background-color: #CDD1D1;
    color: white;
}

#search {
    border-radius: 8px;
    float: right;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #EBEBEB;
    text-shadow: 2px 3px #080808;
    text-align: center;
    font-size: 20px;
}

.social-icon img {
    margin: 0%;
	width: 3%;
	border-radius: 100%;
}

footer {
    width: 100%;
    display: inline-block;
}
